.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:#dcc495;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  padding:10px 5px;}
.tg th{border-color:#dcc495;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  padding:10px 5px;background-color:#828989;}
